<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pydyun.ims.dao.IntentorderDao">
	<resultMap id="IntentorderMap" type="Intentorder">
		<result column="id" property="id" />
		<result column="scid" property="scid" />
		<result column="choise" property="choise" />
		<result column="timechoise" property="timechoise" />
		<result column="naturechoise" property="naturechoise" />
		<result column="needchoise" property="needchoise" />
		<result column="playchoise" property="playchoise" />
		<result column="whistchoise" property="whistchoise" />
		<result column="state" property="state" />
		<result column="starttime" property="starttime" />
		<result column="tel" property="tel" />
		<result column="name" property="name" />
		<result column="remarks" property="remarks" />
		<result column="firstPerson" property="firstPerson" />
		<result column="treat" property="treat" />
	</resultMap>
	<select id="listintentorder" resultMap="IntentorderMap">
	select * from intentorder
	</select>

    <update id="Handle">
    update intentorder 
    set state = 1
    where id = #{id}
    </update>
</mapper>