<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pydyun.ims.dao.Label_shop_sumDao">

	<select id="findshbyid" parameterType="int" resultType="int">
		SELECT SUM(lsnum) FROM label_shop_sum a INNER JOIN label b ON a.`lid`=b.`lid` AND b.lid=#{lid}
	</select>

</mapper>