<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pydyun.ims.dao.ProductimgDao">
	<!-- <resultMap id="BaseResultMap" type="Productimg"> <id column="id" property="id" 
		/> <result column="pid" property="pid" /> <result column="url" property="url" 
		/> <result column="tfimg" property="tfimg" /> <result column="name" property="name" 
		/> <result column="updata" property="updata" /> </resultMap> -->

	<insert id="addProductimg" useGeneratedKeys="true"
		keyProperty="id" parameterType="Productimg">
		INSERT INTO
		productimg(pid,url,tfimg,name,updata)
		VALUES(#{pid},#{url},#{tfimg},#{name},#{updata})
	</insert>

	<!--查询商品 -->
	<select id="selectProductimg" parameterType="Productimg">
		SELECT
		pimg.`id`,pimg.`name`,pimg.`url`
		FROM `productimg` pimg
		where
		pimg.`pid`=#{pid}
	</select>

   <delete id="deletept" parameterType="Integer">
   delete from productimg where pid = #{id}
   </delete>


	<delete id="deleteProductimg" parameterType="int">
		delete from
		productimg where id = #{id}
	</delete>




</mapper>