<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pydyun.ims.dao.SchemeDao">
	<resultMap id="schemeClassResultMap" type="Scheme_class">
		<result column="scid" property="scid" />
		<result column="scscid" property="scscid" />
		<result column="scname" property="scname" />
		<result column="scinfo" property="scinfo" />
	</resultMap>
	<select id="getScname" parameterType="String" resultType="Scheme_class">
		select scid ,scname from scheme_class
	</select>
		<!-- 新增查询某个子类下面的全部分类信息的方法，如果为0或者没有参数就查询全部 -->
	<select id="getlistByScscid"  parameterType="int" resultMap="schemeClassResultMap">
		select scid,scname,scinfo,scscid from scheme_class
		<if test="scscid != null and scscid>=0">
		   where scscid=#{scscid}
		</if>
	</select>
		
</mapper>