<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pydyun.ims.dao.UserCodeNumDAO">
   
    <!-- 用户信息实体结果映射 -->
    <resultMap type="UserCodeNum" id="UserCodeNumResult">
        <id property="id" column="id"/>
        <result property="moblie" column="moblie"/>
        <result property="codeNum" column="codeNum"/>
        <result property="sendDate" column="sendDate"/>
    </resultMap>
	<!-- 根据验证码查询用户 -->
	<insert id="insertUserCodeNum" parameterType="UserCodeNum">
		 INSERT INTO user_code_num(moblie,codeNum,sendDate)
    	VALUES(#{moblie},#{codeNum},(SELECT NOW()))
	</insert>
	<select id="selectCode" resultMap="UserCodeNumResult">
		SELECT * from user_code_num order by sendDate desc 
	</select>
</mapper>