<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pydyun.ims.dao.WxOrderPayDao">

	<resultMap id="WxOrderPayMap" type="WxOrderPay">
		<result column="id" property="id" />
		<result column="oid" property="oid" />
		<result column="sumprice" property="sumprice" />
		<result column="price" property="price" />
		<result column="cid" property="cid" />
		<result column="cprice" property="cprice" />
		<result column="vid" property="vid" />
		<result column="vprice" property="vprice" />
		<result column="goodnum" property="goodnum" />
		<result column="gprice" property="gprice" />
		<result column="optime" property="optime" />
	</resultMap>

	<!--新增订单下商品 -->
	<insert id="saveWxOrderPay" parameterType="WxOrderPay"
		useGeneratedKeys="true" keyProperty="id">
		INSERT into
		order_pay(oid,sumprice,price,cid,cprice,vid,vprice,goodnum,gprice,optime)
		VALUES(#{oid},#{sumprice},#{price},#{cid},#{cprice},#{vid},
		#{vprice},#{goodnum},#{gprice},#{optime})
	</insert>


</mapper>